.logo{
    width: 100px;
    border-radius: 50px;
    margin: auto;
}

.popup{
    color: rgb(5,77,48);
    visibility: hidden;
    transform: translate(0%,0%) scale(0.00000001);
    transition: transform 0.4s, top 0.4s;
    background-color: rgb(244,234,177);;
    width: 30%;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10%;
}

.wrongCredentials{
    font-size: 15px;
    color: red;
}